/* Always use background color */
/*GtkWindow {*/
/*    background-color: @theme_bg_color;*/
/*}*/

/* Fix tooltip background override */
/*.tooltip {*/
/*    background-color: rgba(0, 0, 0, 0.8);*/
/*    background-color: transparent;*/
/*}*/

/* Fix Nautilus desktop window background override */
/*NautilusWindow {*/
/*     background-color: transparent; */
/*}*/

/* No (default) title bar on wayland */
headerbar.default-decoration {
  /* You may need to tweak these values depending on your GTK theme */
  margin-bottom: 50px;
  margin-top: -100px;

  background: transparent;
  padding: 0;
  border: 0;
  min-height: 0;
  font-size: 0;
  box-shadow: none;
}

/* rm -rf window shadows */
/*window.csd, window.csd decoration {*/
/*  box-shadow: none;*/
/*}*/
